.navbar,.nav {
font-family:"微软雅黑","黑体","Times New Roman",Georgia,Serif;
margin:0;

}
h2{
font-size:24px;
	font-family:"微软雅黑","黑体","Times New Roman",Georgia,Serif;
	color:#fff;
	background-color:#0088CC;

}
h3{
	font-size:20px;
	}
	
p{
	  text-indent:2em;
}
.newsimg{
margin:0 auto;
}

.maincontent{
	margin:10px;
}
.page-header{
	margin-top:0px;
}
.page-header{
	background:url(../img/kas7k0g.png);
	background-repeat: repeat;
	}