.navbar,.nav {
font-family:"微软雅黑","黑体","Times New Roman",Georgia,Serif;
margin:0;
}

#nav{
background:#131313;
}

h2{
font-size:24px;
	font-family:"微软雅黑","黑体","Times New Roman",Georgia,Serif;
	color:#fff;
	background-color:#0088CC;

}
h3{
	font-size:20px;
	
	font-family:"新宋体","微软雅黑","黑体","Times New Roman",Georgia,Serif;
	}
h4{
	font-size:16px;
	}
.lines{
	
	border-bottom:  2px solid #0088CC;
	}
	
.portrait{/*老师照片*/
	width:120px;
	height:160px;
}

.noindent{
	text-indent:0;
}	
	
p{
	text-indent:2em;
}
.newsimg{
margin:0 auto;
}

.widthimg{
margin:15px;
width:85%;
}

.maincontent{
	margin:10px;
}
.page-header{
	margin-top:0px;
}
.page-header{
	background:url(../img/kas7k0g.png);
	background-repeat: repeat;
	}