{{ "<!-- BEGIN FOOTER -->" | safeHTML }}
<footer>
<div class="container row small-up-1 medium-up-4">
		<div class="column">
			<h4>联系我们</h4>
			<hr>
			<a><span>Phone </span>{{ .Site.Params.footer.phone }}</a>
			<a><span>邮箱 </span>{{ .Site.Params.footer.email }}</a>
			<a><span>地址 </span>{{ .Site.Params.footer.address }}</a>
		</div>

		<div class="column">
			<h4>导航</h4>
			<hr>
			{{ $currentNode := . }}
			{{ range .Site.Menus.main }}
			<a class="nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name}}</a>
			{{end}}
		</div>

		<div class="column">
			<h4>内网入口</h4>
			<hr>
			{{ $currentNode := . }}
			{{ range .Site.Menus.internal_portals }}
			<a class="nav-item{{if or ($currentNode.IsMenuCurrent "internal_portals" .) ($currentNode.HasMenuCurrent "internal_portals" .) }} active{{end}}" href="{{.URL}}" rel="me">{{ .Name}}</a>
			{{end}}
		</div>

		<div class="column">
			<h4>相关链接</h4>
			<hr>
			{{ $currentNode := . }}
			{{ range .Site.Menus.social }}
			<a class="nav-item{{if or ($currentNode.IsMenuCurrent "social" .) ($currentNode.HasMenuCurrent "social" .) }} active{{end}}" href="{{.URL}}" rel="me">{{ .Name}}</a>
			{{end}}
		</div>

	</div>
</footer> {{ "<!-- END FOOTER -->" | safeHTML }}
