{{ partial "start.html" . }}
{{ partial "menu.html" . }}
{{ "<!-- Partials that make up the site -->" | safeHTML }}

<section class="hero-panel">
	<div class="container">
		<h1>{{ .Site.Params.hero.herotitle }}</h1>
		<p>{{ .Site.Params.hero.herodiscription }}</p>
		<a href="" class="button primary">{{ .Site.Params.hero.btnblue }}</a>
		<a href="{{ .Site.BaseURL }}news" class="button success">{{ .Site.Params.hero.btngreen }}</a>
	</div>
</section> {{ "<!-- END HERO PANEL -->" | safeHTML }}

<section class="main-content">
	<div class="container row">
		<div class="small-12 medium-6 column content-one">
			<h2>{{ .Site.Params.main.contentOneTitle }}</h2>
			<p>{{ .Site.Params.main.contentOneBody | markdownify }}</p>
		</div>
		<div class="small-12 medium-6 column content-two">
			<h2>{{ .Site.Params.main.contentTwoTitle }}</h2>
			<p>{{ .Site.Params.main.contentTwoBody | markdownify }}</p>
		</div>
	</div>
</section> {{ "<!-- END MAIN CONTENT -->" | safeHTML }}

{{ partial "footer.html" . }}
{{ partial "end.html" . }}							
