<div class="announcement_bar"
    style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80px;">
    <div style="text-align: center; color: rgb(198, 16, 95);">
        <b>We moved to a <a href="https://hpcde.hpcer.dev">New Site</a>.
            This site will NOT UPDATE any more.
        </b>
    </div>
    <div style="text-align: center; color: rgb(198, 16, 95);">
        <b>Please visit <a href="https://hpcde.hpcer.dev">https://hpcde.hpcer.dev</a> for latest news.</b>
    </div>
</div>